/*********Universal Classes And Selector*********/
* {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.div {
    display: inline-block;
}

.div-alpha {
    background-color: #292d339e;
    padding: 4rem 3rem;
}

.div-content {
    width: 80%;
    margin: 0rem auto;
    padding-bottom: 8rem;
    padding-top: 2rem;
}

.heading-sec {
    font-size: 2.7rem;
    text-transform: uppercase;
    color: #555c66;
}

.para {
    line-height: 2rem;
    color: #555c66;
}

.para-inf {}

.tomato-btn {
    text-transform: uppercase;
    color: white;
    padding: 10px 36px;
    border: none;
    font-weight: bolder;
    background: #ee422f;
    letter-spacing: 2px;
}

.icon-tomato {
    color: white;
    padding: 1rem;
    background: #ee422f;
    font-size: 30px;
    border-radius: 50%;
}

.icon-heading {}

.imgfix {
    background-size: cover;
    background-position: center;
}

.h-para {
    text-transform: uppercase;
    letter-spacing: 4.5px;
    font-size: 16px;
    color: #555c66;
}

/*********Universal Classes And Selector*********/
/*********SECTION NAVBAR*********/
.sec-nav {
    background: white;
    width: 100vw;
    box-shadow: 0px 0px 11px #bbbbbb;
    position: fixed;
    z-index: 2;

}

.ul-nav {}

.li-nav {
    color: #bbbbbb;
    font-family: cursive;
    display: inline-block;
    padding: 1rem 12rem;
    font-size: 24px;
    font-style: italic;
}

.li-icon {
    float: right;
}

.para-icon {
    font-size: 14px;
}

/*********SECTION NAVBAR*********/
/*********SECTION Main*********/
.sec-main {
    background-color: #e8f2f3;
    margin-top: 3.4%;
}

.div-main {
    width: 50%;
}

.div-img {
    position: relative;
    top: 13px;
    background-size: cover;
    height: 35rem;
    margin-top: -1rem;
}

.divM-content {
    width: 36%;
    position: relative;
    left: 1.9rem;
    bottom: 6.2rem;
}

.para-anchor {
    font-size: 14px;
    color: #555c66;
}

.para-anchor-a {
    text-decoration: underline;
    text-decoration-color: black;
    color: #555c66;
}

/*********SECTION Main*********/
/*********SECTION About*********/
.sec-about {
    background: #292d33;
}

.div-content-about {
    width: 37%;
    margin-right: 3rem;
    margin-left: 4rem;
    position: relative;
    bottom: 2rem;
}

.h2-about {
    font-size: 1.8rem;
    font-weight: lighter;
    color: white;
}

.div-content-boxes {
    width: 50%;
}

.div-box {
    padding: 2.7rem 1.4rem;
    background: white;
    width: 47%;
}

.icon-h2 {
    font-size: medium;
    text-transform: uppercase;
    font-weight: lighter;
    color: white;
}

.para-icon {
    line-height: 1.6rem;
    font-style: italic;
    font-size: 13px;
}

.divb-one {
    margin-bottom: 1.5rem;
    position: relative;
    top: 6rem;
    margin-right: 1rem;
}

.h2-about {
    font-size: 24px;
    color: white;
}

.h2-about-para {
    font-size: 14.5px;
    color: white;
}

/*********SECTION Manage*********/
.sec-manage {
    text-align: center;
}

.div-content {}

.div-head {
    padding-left: 10rem;
    text-align: center;
    width: 87%;
}

.h2-manage {
    font-weight: 100;
    font-size: 2.4rem;
    color: black;
}

.para-manage {
    font-size: 14px;
}

/*********SECTION Manage*********/
/*********SECTION Square*********/
.sec-manage {}

.div-squares {
    width: 100%;
    color: white;
    margin-top: 2.6rem;
}

.div-square {
    background: url('../images/screencapture-nicepage-html-templates-preview-successful-financial-strategy-275824-2023-01-20-11_57_30.png');
    background-size: cover;
    background-position: center;
    margin: 8px;
}

.h2-sq {
    font-size: 28px;
    text-transform: uppercase;
    position: relative;
    bottom: 3rem;
}

.icon-square {
    font-size: 7rem;
    color: #d7d6d4d1;
}

/*********SECTION Square*********/
/*********SECTION work*********/
.sec-work {
    background-color: #e0e5eb;
    margin-bottom: 2rem;
}

.div-work-heading {
    left: 4rem;
    width: 50%;
    position: relative;
    bottom: 3.5rem;
}

.div-work-list {}

.h2-work {
    font-weight: 100;
    font-size: 39px;
}

.sec-work {
    background-color: #e0e5eb;
}

.divlist {
    left: 1rem;
    position: relative;
    top: 2.4rem;
}

/*********SECTION services*********/
.zindex {
    width: 90%;
    margin-top: 1.5rem;
}

.zindex-content {
    float: right;
    background: #292d33;
    text-align: right;
    width: 65%;
    padding: 1rem 0rem 5rem 14rem;
    margin-top: 2rem;
}

.h2-services {
    text-align: center;
    font-weight: bold;
}

.h2-z {
    color: white
}

.para-z {
    color: white;
    line-height: 20px;
    font-size: 13px;
}

.img-zindex {
    width: 18rem;
    position: relative;
}

.z-one {
    top: 6rem;
    height: 15rem;
    width: 22rem;
    left: 9rem;
}

.z-two {
    width: 15rem;
    z-index: 1;
    left: 24rem;
    bottom: 18rem;
    box-shadow: 1px 1px 10px black;
}

.z-three {
    bottom: 10.5rem;
    left: 20rem;
    width: 12rem;
}

.div-img-z {
    bottom: 10.8rem;
    position: relative;
    width: 65%;
    right: 2rem;
    height: 33rem;
}

.textr {
    padding-left: 6rem;
    text-align: left;
}

.ppara {
    position: relative;
    bottom: 5rem;
    left: 29rem;
}

/*********SECTION services*********/
/*********SECTION team*********/
.sec-team {
    background-color: #292d33;
    position: relative;
    bottom: 26rem;
}

.h2-team {
    color: white;
    text-transform: capitalize;
}

.pteam {
    color: #c1c2c3;
    font-style: italic;
    font-weight: 100;
}

.div-imgg {
    width: 27%;
    text-align: center;
    margin-right: 3rem;
}

.teamimg {
    width: 17rem;
    height: 17.8rem;
    box-shadow: 1px 1px 14px black;
}

.div-img-boxes {
    margin-left: 3rem;
    margin-top: 3rem;
}

.div-img-box {
    width: 86%;
    background: white;
    padding: 1rem;
    position: relative;
    bottom: 3.2rem;
    padding-top: 2.4rem;
    left: 0.5rem;
}

.h2-img-box {
    font-size: 1rem;
    font-weight: lighter;
    margin-bottom: 0.7rem;
}

.para-tomato {
    color: #ee422f;
    margin-bottom: 0.7rem;
    font-weight: bold;
}

.icon-img-box {
    margin-top: 1.5rem;
    margin-right: 7px;
}

.para-team {
    line-height: 18px;
    font-style: italic;
    font-size: 13.4px;
    margin-bottom: 0.7rem;
}

.btn-img-box {
    left: 26rem;
    position: relative;
    background: transparent;
    border: 1.5px solid white;
    padding: 8px 24px;
    font-weight: lighter;
}

/*********SECTION team*********/
/*********SECTION WHAT*********/
.sec-what {
    background-color: #e0e5eb;
    position: relative;
    bottom: 26rem;
}

.div-what {
    width: 80%;
    margin: auto;
    background: white;
    padding: 1rem 2rem;
}

.phead {
    display: inline-block;
    color: #ee422f;
    font-weight: bold;
}

.i-what {
    color: silver;
    float: right;
    font-size: 1.6rem;
}

.p-what {
    color: #505358;
    font-size: 13.3px;
}

.ul-what {}

.li-what {
    color: #505358;
    line-height: 1.8rem;
    font-size: 14px;
    padding-left: 15px;
}

.btn-what {
    font-weight: 100;
    background: #292d33;
    padding: 8px 13px;
}

/*********SECTION WHAT*********/
/*********SECTION contact*********/
.sec-contact {
    background: #292d33;
    padding-bottom: 5rem;
    position: relative;
    bottom: 25.99rem;
    margin-bottom: -25.99rem;
}
.div-contact {
    width: 80%;
    margin: auto;
}

.div-divcontent {
    width: 80%;
    margin: auto;
}

.div-left {
    width: 30%;
    bottom: 3rem;
    position: relative;
}

.icon-c {
    color: white;
    font-size: 23px;
    word-spacing: 1rem;
    margin-right: 8px;
}

.para-left {
    color: white;
    font-size: 15px;
    line-height: 23px;

}

.img-contact {
    top: 3rem;
    position: relative;
    height: 21rem;
    width: 100%;
}

.div-center {
    width: 44%;
    margin-right: 1rem;
}

.div-right {
    width: 22%;
}

.input-c {
    background: white;
    border-radius: 0px;
    border: none;
    padding: 8px 22px 8px 9px
}

.btn-sub {
    color: white;
    border: 1.5px solid white;
    background: transparent;
    padding: 8px 26px;
    text-transform: uppercase;
}

/*********SECTION contact*********/
/*********SECTION Footer*********/
.sec-footer {
    background: #333333;
    position: relative;

}

.footer-content {
    padding: 3rem;
}

.dive {
    width: 37%;
    margin: auto;
    text-align: center;
    color: silver;
    font-size: 12px;
}

.af {
    color: white;
    text-decoration: underline;
}
.divf{
    margin-top: 5rem;
}
/*********SECTION Footer*********/